# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask & Python Uploads
uploads/

# Environments & Virtual Envs
.env
.venv
env/
venv/
ENV/

# IDEs & Editor Configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# OS temporary files
.DS_Store
Thumbs.db
